<!-- //banner-->
    /banner-bottom
    {% extends "headerfooter.html" %}
{% block content %}
    <section class="banner-bottom py-5">
        <div class="container py-5">
            <!---728x90--->

            <h3 class="title-wthree mb-lg-5 mb-4 text-center">products</h3>
            <!---728x90--->
            <form action="/productadd/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field-group">

                    <div class="content-input-field">
                        <input name="productname" id="text1" type="text" value="" placeholder="Name" required>

                    </div>
                </div>
                <div class="field-group">

                    <div class="content-input-field">
                        <input name="image1"  type="file" value="" required>
                    </div>
                </div>
                
                <div class="field-group">

                    <div class="content-input-field">
                        <input name="price" type="text" value="" placeholder="price" required >
                    </div>
                </div>
                <div class="field-group">

                    <div class="content-input-field">
                        <input name="description" type="text" value="" placeholder="description" required> 
                    </div>
                </div>
                <div class="content-input-field">
                    <button type="submit" class="btn">add </button>
                </div>

            </form>
                {% endblock %}
                
                
                